.drag-panel{
  display: flex;
  .left-panel{
    width: 20%;
    border-right: 1px solid #C8C8C8;
  }
  .center-panel{
    width: 60%;
  }
  .right-panel{
    border-left: 1px solid #C8C8C8;
    width: 20%;
  }
}